

<main>
    <app-item (addOrUpdateItemEvent)="addOrUpdateItem($event)" [inputItem]="selectedItem"></app-item>
    
    <table class="styled-table">
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Print name</th>
            <th>Major Classification</th>
            <th>Medium Classification</th>
            <th>#</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let it of items; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ it.code }}</td>
            <td>{{ it.printName }}</td>
            <td>{{it.majorClassification}}</td>
            <td>{{it.mediumClassification}}</td>
            <td><button (click)="editItem(it);" class="edit-link">Edit</button></td>    
            <td><button (click)="removeItem(it);" class="edit-link">Remove</button></td>
        </tr>
    </table>
</main>

<div *ngIf="isExist" class="error-message">
    The code already exists.
</div>
